/* Album Sidebar */
.sidebar__description {
  text-align: left;
  font-style: italic;
}

/* Album Gallery */
.album-gallery .card {
  width: 100%;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.album-gallery .card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.2), 0 4px 8px rgba(0,0,0,.06);
  transform: scale(1.01);
}

.album-gallery .card:hover .cross {
  cursor: pointer;
  opacity: 1;
}

.album-gallery .card .cross {
  width: 40px;
  height: 40px;

  position: absolute;
  top: -15px;
  right: -15px;

  background-color: white;
  border-radius: 50%;

  opacity: 0;
}

.album-gallery .card .card-img {
  background-color: #EAEAEA;
}

.album-gallery .card-footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Album Uploader */
/* override the default style */

.album-uploader {
  width: 70% !important;
  margin: auto;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05) !important;
}

.album-uploader__button {
  font-family: inherit;
  font-weight: 600 !important;
  font-size: .765625rem !important;
  text-transform: uppercase !important;
  padding: 0.75rem 1.5rem !important;
  border-radius: 0 !important;
  background-color: #1a1a1a !important;
}

.album-uploader .fileContainer .uploadPictureContainer {
  width: 15% !important;
  margin: 1% !important;
  background-color: white !important;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05) !important;
}

.album-uploader .fileContainer .deleteImage {
  color: transparent !important;
  background-color: white !important;
  background-image: url(./close-circle-outline.svg) !important;
  background-size: 30px !important;
}

/* Album Map */
.album-map {
  margin: auto;
  padding-top: 20px;
  
  height: 60%;
  width: 90%;
}

.album-map__info-window img {
  width: 100pt;
}

.album-map__info-window p {
  font-size: 14px;
  margin-bottom: 0.25rem;
}