/* Album Uploader */
.album-uploader__button {
  font-family: inherit;
  font-weight: 600 !important; /* override the default style */
}

/* Album Map */
.album-map {
  margin: auto;
  padding-top: 20px;
  
  height: 60%;
  width: 90%;
}

.info-window .place-name {
  font-size: 14px;
}