/* Profile */
.profile__text h3,
.profile__text h6 {
  text-align: left;
}

/* Travel Map */
.travel-map__container {
  height: 100%;
}

.travel-map {
  margin: auto;
  padding-top: 10px;
  height: 60%;
  width: 90%;
  text-align: left;
}

.travel-map__info-window img {
  width: 100pt;
  text-align: center;
}

.travel-map__info-window p {
  font-size: 14px;
  margin-bottom: 0.25rem;
  text-align: center;
}

/* Albums Gallery */
.albums-gallery .card {
  width: 100%;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.albums-gallery .card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.2), 0 4px 8px rgba(0,0,0,.06);
  text-decoration: none;
  transform: scale(1.01);
}

.albums-gallery .card .cross {
  width: 40px;
  height: 40px;

  position: absolute;
  top: -15px;
  right: -15px;

  background-color: white;
  border-radius: 50%;

  opacity: 0;
}

.albums-gallery .card:hover .cross {
  cursor: pointer;
  opacity: 1;
}

.albums-gallery  .card-img__wrapper {
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  background-color: #EAEAEA;
}

.albums-gallery .card-img__wrapper .card-img{
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Album Creation */
.album-creation {
  width: 40%;
  margin: auto;
  padding: 1rem;
}

/* Fetching Text */
.fetching-text {
  margin-top: 2rem;
}
