/* Image Uploader */
.image-uploader__button {
  font-family: inherit;
  font-weight: 600 !important; /* override the default style */
}

/* Google Map */
.google-map {
  margin: auto;
  padding-top: 20px;
  
  height: 60%;
  width: 90%;
}

.info-window .place-name {
  font-size: 14px;
}